@model IEnumerable<BookStore.Models.Entities.Book>
@{
}
<div class="container pt-3">
    <div class="row">
        <h3>Books</h3>
        @if (Model is not null)
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a asp-controller="Book" asp-action="Details" asp-route-Id="@item.Id">@item.Title</a></td>
                        <td>@item.Author.AuthorName</td>
                        <td>
                            <a class="btn disabled" asp-controller="Book" asp-action="" asp-route-Id="@item.Id"> Edit</a> |
                            <a class="btn btn-danger disabled" asp-controller="Book" asp-action="" asp-route-Id="@item.Id"> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
            </table>
        }
        else
        {
            <p> No Books Found</p>
        }
    </div>
</div>
